/* Timeline */
/* -------------------------------- 
 * Primary style
 * -------------------------------- */
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

hr {
	display: block; height: 1px;
	border: 0; border-top: 1px solid #d7e4ed;
	margin: 1em 0; padding: 0;
}

#timeline img {
  max-width: 100%;
}

/* -------------------------------- 
 * Modules - reusable parts of our design
 * -------------------------------- */
.timeline-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
}
.timeline-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}

/* -------------------------------- 

Main components 

-------------------------------- */
#timeline {
  position: relative;
  padding: 2em 0;
}
#timeline::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 18px;
  height: 100%;
  width: 4px;
}
@media only screen and (min-width: 1170px) {
  #timeline::before {
    left: 50%;
    margin-left: -2px;
  }
}

.timeline-event {
  position: relative;
  margin: 2em 0;
}
.timeline-event:after {
  content: "";
  display: table;
  clear: both;
}
.timeline-event:first-child {
  margin-top: 0;
}
.timeline-event:last-child {
  margin-bottom: 0;
}
@media only screen and (min-width: 1170px) {
  .timeline-event {
    margin: 4em 0;
  }
  .timeline-event:first-child {
    margin-top: 0;
  }
  .timeline-event:last-child {
    margin-bottom: 0;
  }
}

.event-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.event-img img {
  display: block;
  width: 36px;
  height: 36px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -18px;
  margin-top: -18px;
}
@media only screen and (min-width: 1170px) {
  .event-img {
    width: 60px;
    height: 60px;
    left: 50%;
    margin-left: -30px;
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.event-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
}
.event-content:after {
  content: "";
  display: table;
  clear: both;
}
.event-content h2 {
  margin-bottom: .5rem;
  padding-bottom: .5rem;
  font-weight: bold;
  color: #303e49;
  border: none;
}
.event-content p, .cd-timeline-content .event-read-more, .cd-timeline-content .event-date {
  font-size: 13px;
  font-size: 0.8125rem;
}
.event-content .event-read-more, .cd-timeline-content .event-date {
  display: inline-block;
}
.event-content p {
  margin: 0;
  line-height: 1.6;
}
.event-content .event-read-more {
  float: right;
  padding: .8em 1em;
  background: #acb7c0;
  color: white;
  border-radius: 0.25em;
}
.no-touch .event-content .event-read-more:hover {
  background-color: #bac4cb;
}
.event-content .event-date {
  float: left;
  padding: .8em 0;
  opacity: .7;
}
.event-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}
@media only screen and (min-width: 768px) {
  .event-content h2 {
    font-size: 20px;
    font-size: 1.25rem;
  }
  .event-content p {
    font-size: 16px;
    font-size: 1rem;
  }
  .event-content .event-read-more, .cd-timeline-content .event-date {
    font-size: 14px;
    font-size: 0.875rem;
  }
}
@media only screen and (min-width: 1170px) {
  .event-content {
    margin-left: 0;
    padding: 1.6em;
    width: 45%;
  }
  .event-content::before {
    top: 24px;
    left: 100%;
    border-color: transparent;
    border-left-color: white;
  }
  .event-content .event-read-more {
    float: left;
  }
  .event-content .event-date {
    position: absolute;
    width: 100%;
    left: 122%;
    top: 6px;
    font-size: 16px;
    font-size: 1rem;
  }
  .timeline-event:nth-child(even) .event-content {
    float: right;
  }
  .timeline-event:nth-child(even) .event-content::before {
    top: 24px;
    left: auto;
    right: 100%;
    border-color: transparent;
    border-right-color: white;
  }
  .timeline-event:nth-child(even) .event-content .event-read-more {
    float: right;
  }
  .timeline-event:nth-child(even) .event-content .event-date {
    left: auto;
    right: 122%;
    text-align: right;
  }
}

/* Primary coloring targets */
body {
	background-color: #F5F5F5;
}
#timeline {
	color: #212121;
}
hr {
	border-top: 1px solid #B6B6B6;
}
.event-img {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}
.event-content {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.23), 0px 3px 10px rgba(0, 0, 0, 0.16);
}
#timeline::before {
  /* this is the vertical line */
  background: #B6B6B6;
}
.event-date {
	color: #727272
}

